<h4>Edição de Produtos</h4>

<div class='container'>
  <div class='row'>
    <div class='col-6'>
      <form action='/produto/update/{{produto.id}}' method='post'>
        <div class='mb-3'>
          <label for='nome' class='form-label'>Nome</label>
          <input
            type='text'
            class='form-control'
            id='nome'
            name='nome'
            value='{{produto.nome}}'
            placeholder='Celular Xiaomi Redmi Note 13 Pro'
          />
        </div>
        <div class='mb-3'>
          <label for='preco' class='form-label'>Preço</label>
          <input
            type='text'
            class='form-control'
            id='preco'
            name='preco'
            value='{{produto.preco}}'
            placeholder='1890'
          />
        </div>
        <div class='mb-3'>
          <label for='estoque' class='form-label'>Estoque</label>
          <input
            type='text'
            class='form-control'
            id='estoque'
            name='estoque'
            value='{{produto.estoque}}'
            placeholder='75'
          />
        </div>

        <button type='submit' class='btn btn-primary'>Atualizar</button>
      </form>
    </div>
  </div>
</div>