body {
  background-color: rgba(0, 0, 0, 0.9);
}

.container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
}

label {
  display: inline-block;
  width: 8vw;
  padding: 5px;
}
